body{
	margin: 0% 13% 0% 13%;
	background-color: #626262;
    background-image:url("fond titre.png"); 
}

div.Titre {
    padding: 0px;
    background-color: white;
    text-align: center;
}

img#logo{
	border-radius: 10%;
	margin: 0;
	width: 300px;
}

div.menu{
	background-color: #15CEE0;
	padding: 1.8%;
}

.menu div{
	display: inline-block;
}

div#nav{
	width: 80%;
}

div.connexion{
	width: 18%;
	text-align: right;
}

.menu ul{
	margin: 8px;
	padding-top: 3px; 
	padding-bottom: 3px;
	padding-left: 5px;
}

li.btn{
	display: inline-block;
	font-size: 17px;
	margin: 0;
	padding-right: 2%;
}

li.btn a{
	color: white;
	background-color: #15CEE0;
	padding: 8px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	font-family: monospace;
}

li.btn:hover a{
	color: #15CEE0;
	background-color: white;
	transition: 0.6s;
}

div.connexion a{
	color: white;
	background-color: #24A4E4;
	padding: 8px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	font-size: 20px;
}

div.connexion:hover a{
	color: black;
	background: #0A6998;
	border: 2px solid;
	transition: 0.3s;
}

#page{
	background-color: white;
	width: 100%;
}

#page div{
	display: inline-block;
	width: 40%;
	font-family: calibri, sans-serif;
}

.bloc_gauche{ 
	margin-left: 4%; 
	margin-right: 1%; 
	padding-top: 15px; 
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: justify;
}

.bloc_droit{
	vertical-align: top;
	padding-top: 50px; 
	padding-bottom: 70px;
	padding-left: 100px;
	text-align: justify;
}

.bloc_droit_2{
	vertical-align: top;
	padding-top: 5px; 
	padding-bottom: 70px;
	padding-left: 100px;
	text-align: justify;
}

.texte{

}

div.centre{
	width: 100%;
	border: 2px solid black;
}

img{
	position: relative;
}

.centre h1,p{
	margin: 3px;
	font-family: calibri, sans-serif;
}

footer{
	padding-top: 20px; 
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #00C2C2;
}






